
.menu {
   display: none;
}

.page-link {
      color: $header-color;
			background-color:$header-background-color;				
			line-height: $site-header-height;
			display:inline-block;
			margin-left:$spacing-unit;
  }


.page-link:hover {
		color:$background-color;
		background-color:$text-color
}
