
.site-nav {
  line-height: 50px;
	display:inline-block;	
}

.menu {
   display: none;
}

.page-link {
			line-height: 50px;
			display:inline-block;
			margin-left:30px;
			margin-bottom:0;
  }


img {
	margin-top:30px;
}

