
.menu {
   display: none;
}

.page-link {
      color: $header-color;
			background-color:$header-background-color;				
			line-height: $site-header-height;
			display:inline-block;
			margin-left:$spacing-unit;
			margin-bottom:0;
  }


.page-link:hover {
		color:$background-color;
		background-color:$text-color
}

.site-footer ul, .site-footer ul li {
	list-style:none;
	list-style-type:none;
}
