{%if include.author%}
<span>by {{include.author}}</span>
{% elsif page.author %}
<span>by {{page.author}}</span>
{% endif %}

{% if include.author or page.author %}
{% if include.date and include.nodate != true %}
<span> – </span>
{% elsif page.date and page.nodate != true%}
<span> – </span>
{% endif %}
{% endif %}

{% if include.date and include.nodate != true%}
<time class="no-wrap">{{ include.date | date: '%B %e, %Y' }}</time>
{% elsif page.date and page.nodate != true %}
<time class="no-wrap">{{ page.date | date: '%B %e, %Y' }}</time>
{% endif %}