		{% if page.banner %}
			<div class="banner" id="banner" style="background:url({{page.banner}}) center no-repeat; background-size:cover;">	
				{% if page.message %}
					<div class="message">
						<div class="wrapper">{{ page.message | newline_to_br }}</div>
					</div>
				{% else %}
					<div class="message">
						<div class="wrapper">
							{{page.title | newline_to_br }}
					    <div class="meta">
								{% if page.date %} {{ page.date | date: '%B %d, %Y' }} {% endif %}
								{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }} {% endif %}
							</div>	
						</div>
					</div>
				{% endif %}
			</div>			
		{% else %}
			{% if page.bannerFull %}			
			<div class="banner full" id="banner" style="background:url({{page.bannerFull}}) center no-repeat; background-size:cover;">
				{% if page.message %}
					<div class="message">
						<div class="wrapper">{{ page.message | newline_to_br }}</div>
					</div>
				{% else %}
					<div class="message">
						<div class="wrapper">
							{{page.title | newline_to_br}}
					    <div class="meta">
								{% if page.date %} {{ page.date | date: '%B %d, %Y' }} {% endif %}
								{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }} {% endif %}
							</div>														
						</div>						
					</div>
				{% endif %}
			</div>						
		{% else %}
			{% if page.message %}
				<div class="wrapper">
					<h1 class="message title">{{ page.message | newline_to_br }}</h1>
				</div>
				{% endif %}
		{% endif %}
		{% endif %}
		{% if page.bottomline %}<div class="wrapper"><div class="bottomline"> {{page.bottomline}}</div></div>{% endif %}		