<div class="pdy-1 xl">

    <div class="breakout flex justify-space-between">

        <img class="mxh-3" style="max-width:15%" src="/i/coronavirus/iconfinder_ic_cleaning_5803965.svg" />


        <img class="mxh-3" style="max-width:15%" src="/i/coronavirus/iconfinder_ic_handshake_5803982.svg" />


        <img class="mxh-3" style="max-width:15%" src="/i/coronavirus/iconfinder_ic_distancing_5803970.svg" />


        <img class="mxh-3" style="max-width:15%" src="/i/coronavirus/iconfinder_ic_gathering_5803980.svg" />

    </div>
</div>