<div class="pdy-1 gp-0 bg-primary-3">

    <div class="xl breakout x-12 gp">
        <div class="xx-3">
            <img class="mxh-3" src="/i/coronavirus/iconfinder_ic_cleaning_5803965.svg" />
        </div>
        <div class="xx-3">
            <img class="mxh-3" src="/i/coronavirus/iconfinder_ic_handshake_5803982.svg" />
        </div>
        <div class="xx-3">
            <img class="mxh-3" src="/i/coronavirus/iconfinder_ic_distancing_5803970.svg" />
        </div>
        <div class="xx-3">
            <img class="mxh-3" src="/i/coronavirus/iconfinder_ic_gathering_5803980.svg" />
        </div>
    </div>
</div>