{% unless page.noheader %}
{% if page.url == "/" %}
{% assign style = "mrr tag bg-base-color white" %}
{% else %}
{% assign  style = "mrr pd-d4" %}
{% endif %}
<div class="mrt mrb-4 caps lh-4" style="margin-left: - var(--space-d4);">	
	{% if page.nositenav %}
	<span class="{{style}}"><a class="no-deco" href="{{ site.baseurl }}/">{{ site.title }}</a></span>
	{% else %}
	<span class="{{style}}"><a class="no-deco" href="{{ site.baseurl }}/">{{ site.title }}</a></span>
	{% endif %}
	{% include navigation.html %}
</div>
{% endunless %}