{% unless page.noheader %}

{% if page.hero %}
{% assign headerClass = "vh-100 mih-sm " %}
{% assign heroImage = page.hero %}
{% endif %}
{% if page.smallhero %}
{% assign headerClass = "vh-70 mih-sm " %}
{% assign heroImage = page.smallhero %}
{% endif %}

{% if headerClass %}
{% assign headerClass = headerClass | append: "bg-cover bg-center bg-no-repeat bg-primary-4" %}
{% assign headerStyle = "background-image: url(" | append: heroImage  | append: ")" %}
{% else %}
{% assign headerClass = "mrb-3" %}
{% endif %}

<div class="{{headerClass}}" {% if headerStyle %}style="{{headerStyle}}" {% endif %}>
	<header class="bg-base-background z-1 pdy-d1 lh-4 small">
		<div class="x breakout-r">
			{% include main-navigation.html %}
		</div>
	</header>
</div>

{% endunless %}