<link rel="icon" type="image/png" sizes="32x32" href="/r/favicon/favicon-32x32.png">
<link rel="stylesheet" href="/css/main.css">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width initial-scale=1">
<meta name="description"
    content="{{ site.meta }} {% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

<title>
    {% if page.title and page.title != "notitle" %}{{ page.title }}{% elsif page.menu %}{{ page.menu }}{% else %}{{ site.title }}{% endif %}
</title>