{% unless page.nositenav %}

{% for p in site.pages %}
{% if p.menu %}
{% unless p.nonav %}
{% assign last = p %}
{% endunless %}
{% endif%}
{% endfor %}

<ul class="reset inline-block">

	{% for p in site.pages %}
	{% if p.menu %}
	{% unless p.nonav %}

	{% if page.url == p.url %}
	<li class="inline-block base-color bold">{{p.menu}}</li>
	{% elsif page.category contains p.category %}
	<li class="inline-block">
		<a class="no-deco base-color bold" href="{{ p.url | prepend: site.baseurl }}">{{p.menu}}</a></li>
	{% else %}
	<li class="inline-block">
		<a class="no-deco neutral-d1" href="{{ p.url | prepend: site.baseurl }}">{{p.menu}}</a>
	</li>
	{% endif %}

	{% endunless %}
	{% endif %}
	{% endfor %}

</ul>
{% endunless %}