{% for post in site.posts %}

{% if post.url == page.url %}
{% assign current = post %}
{% assign index = forloop.index %}
{% endif %}

{% if current and current.layout != "image" and current.layout != "gallery" and current.layout != "collection "%}


{% unless prev %}
{% for p in site.posts offset:index   %}
{% unless prev %}
{% if p.layout == current.layout %}
{% assign prev = p %}
{% endif %}
{% endunless %}
{% endfor %}
{% endunless %}

{% unless next %}
{% for p in site.posts %}
{% if p.layout == current.layout and forloop.index < index  %}
{% assign next = p %}
{% endif %}
{% endfor %}
{% endunless %}

{% break %}
{% endif %}

{% endfor %}

{% if prev or next %}


<div class="clear-fix mrt-2 small">
	{% if prev  %}
	<div class="float-left">
		<a accesskey="-" href="{{ site.url }}{{ prev.url }}"><span>Prev:</span> {{ prev.title }}</a>
	</div>
	{% endif %}

	{% if next  %}
	<div class="float-right">
		<a accesskey="+" href="{{ site.url }}{{ next.url }}"><span>Next:</span> {{ next.title }}</a>
	</div>
	{% endif %}

	{% endif %}
</div>