{% assign onsubmit = "event.preventDefault(); location.href='/search?query=' + event.target['search-query'].value;"%}
{% if include.onsubmit %}{% assign onsubmit = include.onsubmit %}{% endif %}
<form class="mry" onsubmit="{{onsubmit}}">
    <label for="search-query" class="meta small">Search this site:</label>
    <div class="flex mxw-sm">
        <input id="search-query" class="width-100" type="text" />
        <input type="submit" style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;" value="Search" />
    </div>
</form>