{%- assign contentNodes = site.posts -%}
{%- assign contentNodes = contentNodes | concat: site.pages -%}
{%- assign pageMeta = "" | split: "" -%}
{%- assign pageMeta = pageMeta | push: page.tags -%}
{%- assign pageMeta = pageMeta | push: page.categories -%}
{%- assign pageMeta = pageMeta|compact|uniq -%}
{%- if pageMeta.size == 0 -%}
{%- assign pageMeta = pageMeta | push: "." -%}
{%- endif -%}

{%- assign excludeMeta = "" | split: "" -%}
{%- assign excludeMeta = excludeMeta | push: page.exclude_tags -%}
{%- assign excludeMeta = excludeMeta | push: page.exclude_categories -%}
{%- assign excludeMeta = excludeMeta|compact|uniq -%}

{%- assign searchData = "" | split: "" -%}
{%- for node in contentNodes -%}
{%- if node.published != false and node.exclude_search != true -%}
{%- unless page.exclude_layouts contains node.layout -%}

{%- assign isExcluded = false -%}
{%- assign nodeMeta = "" | split: "" -%}
{%- assign nodeMeta = nodeMeta | push: node.tags -%}
{%- assign nodeMeta = nodeMeta | push: node.categories -%}
{%- assign nodeMeta = nodeMeta|compact|uniq -%}
{%- for meta in nodeMeta -%}
{%- if excludeMeta contains meta -%}
{%- assign isExcluded = true -%}
{%- break -%}
{%- endif -%}
{%- endfor -%}
{%- unless isExcluded == true -%}

{%- for meta in pageMeta -%}
{%- if meta == "." or node.tags contains meta or node.categories contains meta -%}

{%- assign json = node.url | jsonify -%}
{%- assign dataEntry = '{ "id":' | append: json | append: ',' -%}

{%- assign dataEntry = dataEntry | append: '"title":' -%}
{%- if node.title -%}
{%- assign json = node.title | jsonify -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- else -%}
{%- assign json = node.mainnav | jsonify -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}

{%- if node.subtitle -%}
{%- assign json = node.subtitle | jsonify -%}
{%- assign dataEntry = dataEntry | append: '"subtitle":' -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}

{%- if node.abstract -%}
{%- assign json = node.abstract | jsonify -%}
{%- assign dataEntry = dataEntry | append: '"abstract":' -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}

{%- assign dataEntry = dataEntry | append: '"excerpt":' -%}
{%- assign json = node.content | strip_html | truncatewords: 25, "&nbsp;…" | jsonify -%}
{%- assign dataEntry = dataEntry | append: json -%}
{%- assign dataEntry = dataEntry | append: ',' -%}

{%- if node.date -%}
{%- assign json = node.date | jsonify -%}
{%- assign dataEntry = dataEntry | append: '"date":' -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}
{%- if node.author -%}
{%- assign json = node.author | jsonify -%}
{%- assign dataEntry = dataEntry | append: '"author":' -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}

{%- if node.refer -%}
{%- assign json = node.refer | jsonify -%}
{%- assign dataEntry = dataEntry | append: '"refer":' -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}

{%- if node.categories != empty -%}
{%- assign json = node.categories | jsonify -%}
{%- assign dataEntry = dataEntry | append: '"categories":' -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}

{%- if node.tags != empty -%}
{%- assign json = node.tags | jsonify -%}
{%- assign dataEntry = dataEntry | append: '"tags":' -%}
{%- assign dataEntry = dataEntry | append: json | append: ',' -%}
{%- endif -%}

{%- assign dataEntry = dataEntry | append: '"content":' -%}
{%- assign json = node.content | strip_html | jsonify -%}
{%- assign dataEntry = dataEntry | append: json -%}


{%- assign dataEntry = dataEntry | append: '}' -%}

{%- assign searchData = searchData | push: dataEntry -%}

{%- break -%}
{%- endif -%}
{%- endfor -%}

{%- endunless -%}

{%- endunless -%}
{%- endif -%}
{%- endfor -%}


{% include search-field.html focus=true onsubmit="event.preventDefault(); search(event.target[SEARCH_QUERY_ID].value); history.replaceState(null, '', location.pathname + '?query=' + event.target[SEARCH_QUERY_ID].value)" %}

<div class="mrt-1" id="search-results"></div>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
    const SEARCH_RESULTS_ID = 'search-results';
    const SEARCH_QUERY_ID = 'search-query';

    var searchData = [{{searchData | compact | join: "," }}];

    var searchIndex;
    var friendlyMap = new Map();
    function buildSearchIndex() {
        return lunr(function () {
            this.ref('id');
            this.field('title', { boost: 10 });
            this.field('subtitle', { boost: 10 });
            this.field('abstract', { boost: 10 });
            this.field('author');
            this.field('refer');
            this.field('categories');
            this.field('tags');
            this.field('content');

            for (let data of searchData) {
                this.add(data);
                friendlyMap.set(data.id, {
                    title: data.title,
                    subtitle: data.subtitle,
                    abstract: data.abstract,
                    excerpt: data.excerpt,
                    author: data.author,
                    refer: data.refer,
                    date: data.date,
                    categories: data.categories,
                    tags: data.tags
                });
            }
        });
    }

    function getParameterByName(name, url) {
        url = url ? url : location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
        let results = regex.exec(url);
        if (!results) {
            return null;
        }
        if (!results[2]) {
            return '';
        }
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function removeChildren(parent) {
        if (parent) {
            let child = parent.lastElementChild;
            while (child) {
                parent.removeChild(child);
                child = parent.lastElementChild;
            }
        }
    }

    function formatDate(date) {
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        let parts = date.split('-');
        let year = parseInt(parts[0]);
        let month = parseInt(parts[1]);
        let day = parseInt(parts[2]);

        return months[month - 1] + ' ' + day + ', ' + year;
    }

    function printResultEntry(parent, entry) {
        if (parent) {
            let friend = friendlyMap.get(entry.ref);

            let article = document.createElement('article');            
            parent.appendChild(article);

            if (friend.title && friend.title != 'notitle') {
                let title = document.createElement('h2');
                title.classList = 'mry-0'
                article.appendChild(title);
                let linkToArticle = document.createElement('a');
                linkToArticle.href = entry.ref;
                linkToArticle.innerHTML = friend.title;
                title.appendChild(linkToArticle);
            }

            if (friend.refer) {
                let refer = document.createElement('div');
                refer.classList = 'small meta';
                refer.innerHTML = friend.refer;
                article.appendChild(refer);
            }

            if (friend.abstract || friend.subtitle || friend.excerpt) {
                let excerpt = document.createElement('p');
                article.appendChild(excerpt);
                excerpt.classList = 'inline';
                excerpt.innerHTML = friend.abstract || friend.subtitle || friend.excerpt;

                if (!friend.title || friend.title == 'notitle') {
                    excerpt.innerHTML += ' ';
                    let linkToArticle = document.createElement('a');
                    linkToArticle.href = entry.ref;
                    linkToArticle.classList = 'small meta inline-block';
                    linkToArticle.innerHTML = 'Read the entire article →';
                    excerpt.appendChild(linkToArticle);
                }
            }

            if (friend.author || friend.date) {
                let aside = document.createElement('aside');
                aside.classList = "meta small inline-block";
                article.innerHTML += ' ';
                article.appendChild(aside);
                aside.innerHTML = '<span aria-hidden="true"> — </span>';

                if (friend.author) {
                    let author = document.createElement('span');
                    author.innerHTML = 'By ' + friend.author;
                    aside.appendChild(author);
                }

                if (friend.date) {
                    if (friend.author) {
                        aside.innerHTML += '<span aria-hidden="true"> · </span>';
                    }
                    let date = document.createElement('time');
                    date.innerHTML += formatDate(friend.date);
                    aside.appendChild(date);
                }
            }
        }
    }

    function printHeading(resultSet, query) {
        let heading = document.getElementsByTagName('h1');
        if (heading.length) {
            if (resultSet.length) {
                heading[0].innerHTML = 'Search results for "' + query + '"';
            } else {
                heading[0].innerHTML = 'No search results for "' + query + '"';
            }
        }
    }

    function printResultCount(searchResults, resultSet, query) {
        let count = document.createElement('div');
        if (resultSet.length == 0) {
            count.innerHTML = 'Your search for "' + query + '" did not return any results.'
        } else {
            count.innerHTML = resultSet.length + ' results:';
        }
        count.classList = "small meta mry";
        searchResults.append(count);
    }

    function printSearchResults(resultSet, query) {
        let searchResults = document.getElementById(SEARCH_RESULTS_ID);
        if (!searchResults) {
            console.error('The page does not have a DOM element with id=' + SEARCH_RESULTS_ID);
            return;
        }
        removeChildren(searchResults);
        printHeading(resultSet, query);
        printResultCount(searchResults, resultSet, query);
        if (resultSet.length) {
            for (let entry of resultSet) {
                printResultEntry(searchResults, entry);
            }
        }
    }

    function search(query) {
        let resultSet = [];
        if (query && query.trim().length) {
            resultSet = searchIndex.search(query);
        }
        printSearchResults(resultSet, query);
    }

    addEventListener('load', function (event) {
        searchIndex = buildSearchIndex();
        let query = getParameterByName('query');
        let input = document.getElementById(SEARCH_QUERY_ID);
        if (input) {
            input.value = query;
        }

        if (query) {
            search(query);
        }
    }); 
</script>