{%- assign contentNodes = site.posts -%}
{%- assign contentNodes = contentNodes | concat: site.pages -%}
{%- assign pageMeta = "" | split: "" -%}
{%- assign pageMeta = pageMeta | push: page.tags -%}
{%- assign pageMeta = pageMeta | push: page.categories -%}
{%- assign pageMeta = pageMeta | compact | uniq -%}
{%- if pageMeta.size == 0 -%}
{%- assign pageMeta = pageMeta | push: "." -%}
{%- endif -%}

{%- assign excludeMeta = "" | split: "" -%}
{%- assign excludeMeta = excludeMeta | push: page.exclude_tags -%}
{%- assign excludeMeta = excludeMeta | push: page.exclude_categories -%}
{%- assign excludeMeta = excludeMeta | compact | uniq -%}

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
    const SEARCH_RESULTS_ID = 'search-results';
    const SEARCH_QUERY_ID = 'search-query';

    var searchData = [
        {%- for node in contentNodes -%}
        {%- if node.published != false and node.exclude_search != true -%}
        {%- unless page.exclude_layouts contains node.layout -%}
        {%- for meta in pageMeta -%}
        {%- unless excludeMeta contains meta -%}
        {%- if meta == "." or node.tags contains meta or node.categories contains meta -%}
        {
        'id': {{ node.url | jsonify }},
        'title': {%- if node.title -%} {{ node.title | jsonify }} {%- else -%} {{ node.mainnav | jsonify }} {%- endif -%},
        {%- if node.subtitle -%} 'subtitle': {{ node.subtitle | jsonify }}, {%- endif -%}
        'excerpt': {{ node.content | strip_html | truncatewords: 25, "&nbsp;…" | jsonify }},
        {%- if node.date -%} 'date': {{ node.date | jsonify }}, {%- endif -%}
        {%- if node.author -%} 'author': {{ node.author | jsonify }}, {%- endif -%}
        {%- if node.categories != empty -%} 'categories': {{ node.categories | jsonify }}, {%- endif -%}
        {%- if node.tags != empty -%} 'tags': {{ node.tags | jsonify }}, {%- endif -%}
        {%- if node.hero or node.smallhero -%} 'hero': {%- if node.hero -%} {{ node.hero | jsonify }} {%- elsif node.smallhero -%} {{ node.smallhero | jsonify }} {%- endif -%}, {%- endif -%}
        'content': {{ node.content | strip_html | jsonify }}
        },
        {%- break -%}
        {%- endif -%}
        {%- endunless -%}
        {%- endfor -%}
        {%- endunless -%}
        {%- endif -%}
        {%- endfor -%}
];

    var searchIndex;
    var friendlyMap = new Map();
    function buildSearchIndex() {
        return lunr(function () {
            this.ref('id');
            this.field('title', { boost: 10 });
            this.field('subtitle', { boost: 10 });
            this.field('author');
            this.field('categories');
            this.field('tags');
            this.field('content');

            for (let data of searchData) {
                this.add(data);
                friendlyMap.set(data.id, { title: data.title, excerpt: data.excerpt, author: data.author, date: data.date, categories: data.categories, tags: data.tags, hero: data.hero });
            }
        });
    }

    function getParameterByName(name, url) {
        url = url ? url : window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)');
        let results = regex.exec(url);
        if (!results) {
            return null;
        }
        if (!results[2]) {
            return '';
        }
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function removeChildren(parent) {
        if (parent) {
            let child = parent.lastElementChild;
            while (child) {
                parent.removeChild(child);
                child = parent.lastElementChild;
            }
        }
    }

    function formatDate(date) {
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        let parts = date.split('-');
        let year = parseInt(parts[0]);
        let month = parseInt(parts[1]);
        let day = parseInt(parts[2]);

        return months[month - 1] + ' ' + day + ', ' + year;
    }

    function printResultEntry(parent, entry) {
        if (parent) {
            let friend = friendlyMap.get(entry.ref);

            let article = document.createElement('article');
            article.classList = 'mry-2';
            parent.appendChild(article);
            
            if (friend.title && friend.title != 'notitle') {
                let title = document.createElement('h2');
                title.className = 'mry-0'                
                article.appendChild(title);
                let linkToArticle = document.createElement('a');
                linkToArticle.href = entry.ref;
                linkToArticle.innerHTML = friend.title;
                title.appendChild(linkToArticle);
            }      

            if (friend.hero) {
                let hero = document.createElement('img');
                article.appendChild(hero);
                hero.src = friend.hero;
                hero.alt = '';
                hero.classList = 'mry-d2 height-4 width-100 fit-cover';
            }

            if (friend.excerpt) {
                let excerpt = document.createElement('p');
                article.appendChild(excerpt);
                excerpt.innerHTML = friend.excerpt;

                if (!friend.title || friend.title == 'notitle') {
                    excerpt.innerHTML += ' ';
                    let linkToArticle = document.createElement('a');
                    linkToArticle.href = entry.ref;
                    linkToArticle.classList = 'small meta inline-block';
                    linkToArticle.innerHTML = 'Read the entire article →';
                    excerpt.appendChild(linkToArticle);
                }
            }

            if (friend.author || friend.date) {
                let aside = document.createElement('aside');
                aside.classList = "meta small";
                article.appendChild(aside);

                if (friend.author) {
                    let author = document.createElement('span');
                    author.innerHTML = 'by ' + friend.author;
                    aside.appendChild(author);
                }

                if (friend.date) {
                    let date = document.createElement('time');
                    date.innerHTML = formatDate(friend.date);
                    aside.appendChild(date);
                }                
            }
        }
    }

    function printHeading(resultSet, query) {
        let heading = document.getElementsByTagName('h1');
        if (heading.length) {
            if (resultSet.length) {
                heading[0].innerHTML = 'Search results for "' + query + '"';
            } else {
                heading[0].innerHTML = 'No search results for "' + query + '"';
            }
        }
    }

    function printResultCount(searchResults, resultSet, query) {
        let count = document.createElement('p');
        if (resultSet.length == 0) {
            count.innerHTML = 'Your search for "' + query + '" did not return any results.'
        } else {
            count.innerHTML = resultSet.length + ' results:';
        }
        count.classList = "small meta mry no-indent";
        searchResults.append(count);
    }

    function printSearchResults(resultSet, query) {
        let searchResults = document.getElementById(SEARCH_RESULTS_ID);
        if (!searchResults) {
            console.error('The page does not have a DOM element with id=' + SEARCH_RESULTS_ID);
            return;
        }
        removeChildren(searchResults);
        printHeading(resultSet, query);
        printResultCount(searchResults, resultSet, query);
        if (resultSet.length) {
            for (let entry of resultSet) {
                printResultEntry(searchResults, entry);
            }
        }
    }

    function search(query) {
        let resultSet = [];
        if (query && query.trim().length) {
            resultSet = searchIndex.search(query);
        }
        printSearchResults(resultSet, query);
    }

    window.addEventListener('load', function (event) {
        searchIndex = buildSearchIndex();
        let query = getParameterByName('query');
        let input = document.getElementById(SEARCH_QUERY_ID);
        if (input) {
            input.value = query;
        }

        if (query) {
            search(query);
        }
    }); 
</script>
{% include search-field.html focus=true onsubmit="event.preventDefault(); search(event.target[SEARCH_QUERY_ID].value);" %}
<div id="search-results"></div>

<!--
To Do to complete:
- Use a git commit hook to create the search search index 
- When searching, request that index with a javascript get request
- Create the index on the client only as a fallback solution
-->