<div class="slide-gallery-content">
					
{% if page.title %}
	<div>{{ page.title }}</div>
{% elsif page.message %} 
	<div>{{ page.message }}</div>
{% endif %}

<a class="prev" id="prev" onclick="prev();" accesskey="-"><&nbsp;prev</a>		
<a class="next" id="next" onclick="next();" accesskey="+">next&nbsp;></a>		
				
<div class="slides" id="slides">

	{% for tag in page.tags %}
					
		{% for post in site.tags.[tag] %}
						
				{% if post.layout contains 'image' and post.thumburl %}
						<div class="slide">

								{% if post.slideurl %}
								<img style="display:none;" src="{{post.slideurl | prepend: site.baseurl}}"  />
								{% else %}
								<img style="display:none;" src="{{post.thumburl | prepend: site.baseurl}}"  />
								{% endif %}
							
							{% if post.message %}
								<div><a  href="{{ post.url | prepend: site.baseurl }}">{{post.message}}</a></div>
							{% elsif post.abstract %}										
								<div><a  href="{{ post.url | prepend: site.baseurl }}">{{post.abstract}}</a></div>
							{% elsif post.title %}
								<div><a  href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></div>
							{% endif %}							
							
						</div>
					{% endif %}
				{% endfor %}
		{% endfor %}
</div>			

<script src="/r/jquery.min.js" type="text/javascript"></script>
<script src="/r/jquery.mobile.custom.min.js" type="text/javascript"></script>
<script>
			
function next() {
 $('.slides > :first-child').fadeOut().next().fadeIn().end().appendTo('.slides');
}
	 
function prev() {
 $('.slides > :first-child').fadeOut();
 $('.slides > :last-child').insertBefore('.slides > :first-child');
 $('.slides > :first-child').fadeIn();		 
}	
	 
$("body").keydown(function(e) {
  if(e.which == 37) { 
		prev();
  }
  else if(e.which == 39) { 
		next();
  }	
});	

$( ".slide" ).on( "swipeleft", next );
$( ".slide" ).on( "swiperight", prev );
 	  

$(function(){$('.slides > :gt(0)').hide();});		
</script>
</div>
									
