{% if page.nostepnav != true %}
{% for post in site.posts %}

{% if post.url == page.url %}
{% assign current = post %}
{% assign index = forloop.index %}
{% endif %}

{% if current and current.layout != "gallery" %}

{% unless prev %}
{% for p in site.posts offset:index   %}
{% unless prev %}
{% if p.categories == current.categories %}
{% assign prev = p %}
{% endif %}
{% endunless %}
{% endfor %}
{% endunless %}

{% unless next %}
{% for p in site.posts %}
{% if p.categories == current.categories and forloop.index < index %}
{% assign next = p %}
{% endif %}
{% endfor %}
{% endunless %}

{% break %}
{% endif %}

{% endfor %}
{% endif %}
{% if prev or next %}
<nav class="clearfix mrt-2 small lh-1">
    {% if prev  %}
    <div class="float-left mrr nowrap truncate">
        <a class="no-deco meta" accesskey="-" href="{{ site.url }}{{ prev.url }}">
            {% if include.shortLink %}
            <span>Prev</span>
            {% else %}
            <span>Prev{% if prev.title != "notitle" && prev.notitle != true %}:
                {{ prev.title }}{% endif %}</span>
            {% endif %}
        </a>
    </div>
    {% endif %}

    {% if next  %}
    <div class="float-right nowrap truncate">
        <a class="no-deco meta" accesskey="+" href="{{ site.url }}{{ next.url }}">
            {% if include.shortLink %}
            <span>Next</span>
            {% else %}
            <span>Next{% if next.title != "notitle" && next.notitle != true %}:
                {{ next.title }}{% endif %}</span>
            {% endif %}
        </a>
    </div>
    {% endif %}
</nav>
{% endif %}