{% unless page.title == 'notitle' or page.notitle == true %}
{% if page.hero or page.smallhero %}
{% assign titleClass = "mrln-d3 mrtn-5 mih-5 mrb-1" %}
{% assign heroAdjust = "pdx-d3 box-break-clone inline bg-base-background" %}
{% assign heroSubAdjust = " pdy-d3 " %}
{% endif %}

{% if page.title  %}
<div class="title {{titleClass}}">
    <div>
        <h1 class="fs-2 rg:fs-4 md:fs-5 {{heroAdjust}}">{{ page.title }}</h1>
    </div>

    {%if page.subtitle  %}
    <div class="mxw-rg">
        <p class="mr-0 sub-title meta {{heroAdjust}} {{heroSubAdjust}}">{{page.subtitle}}</p>
    </div>
    {% endif %}

    {% if page.date and page.nodate != true %}{% assign date = true %}{% else %}{% assign date = false%}{% endif %}
    {% if page.tags != nil or page.categories != nil %}{% assign meta = true %}{% else %}{% assign meta = false%}{% endif %}
    {% if page.nostepnav == true or page.nometa == true %}{% assign meta = false %}{% endif %}

    {% if page.author or date or meta  %}
    <aside class="meta {{heroAdjust}} {{heroSubAdjust}}">
        {% include author-and-date.html %}
        {% include categories-and-tags.html %}
    </aside>
    {% endif %}

</div>
{% endif %}

{% endunless %}