@charset "utf-8";

* {
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-size:inherit;
}

hr {
  border:0;
  border-bottom: 1px solid $text-color;
  margin:$spacing-unit/2 0;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $background-color;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl,
%vertical-rhythm {
  margin-bottom: $spacing-unit;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5*$spacing-unit;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
  text-align: center;
}

h3,h4,h5,h6 {
  text-align:left;
  margin-top:$spacing-unit;
  margin-bottom:0;
}

/**
 * Images
 */
img {
  max-width: 100%;
  max-height:800px;
  vertical-align: top;
  border: 0;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

/**
 * Lists
 */
ul {
  list-style: disc outside;
}

ol {
  list-style-position: outside;
}

ul, ol {
  li {
    > p {
      display: inline;

      &:after {
        content: "";
        display: block;
        margin-bottom: $spacing-unit / 2;
      }
    }

    > ul, > ol {
      margin-left: $spacing-unit;
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  float: left;
}

dd {
  display: block;
}


/**
 * Links
 */
a {
  @extend %linkstyle;
}

%linkstyle {
  color: $text-color;
  text-decoration: none;
  outline: none;
/*  background-image: -webkit-linear-gradient(to bottom, transparent 92%, $text-color 94%, $text-color 100%);
  background-image: -moz-linear-gradient(to bottom, transparent 92%, $text-color 94%, $text-color 100%);
  background-image: -o-linear-gradient(to bottom, transparent 92%, $text-color 94%, $text-color 100%);
  background-image: linear-gradient(to bottom, transparent 92%, $text-color 94%, $text-color 100%);*/
  border-bottom:1px solid $text-color;
}

%nolinkstyle {
  border-bottom:none;
}

::selection {
  background-color: yellow;
}

/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  padding-left: $spacing-unit / 2;
  margin-left: -$spacing-unit / 2;
  border-left: 2px solid $text-color;
  p {
    margin-left:0;
  }

  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  font-family: $base-font-family;
  font-style:italic;
  letter-spacing:1px;
  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-family:$code-font-family;
  font-size: $code-font-size;
  border-radius: 3px;
}

code {
  padding: 3px 5px;
  background:$text-color;
  color:$background-color;
}

pre {
  padding:0;
  margin:$spacing-unit/2 0;
  overflow-x: scroll;

}

/**
 * Wrapper
 */
.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  word-wrap: break-word;
  position: relative;
  @extend %clearfix;

  @include media-query($on-palm) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

strong, b {
  font-family: $title-font-family;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

table {
  border-spacing: 0;
}

table thead tr th {
  font-family: $title-font-family;
  font-weight: $title-font-weight;
  vertical-align: bottom;
  padding-right: $spacing-unit;
  padding-bottom: $spacing-unit/2;
  text-align: left;

}

table tbody tr td {
  vertical-align: top;
  padding-right: $spacing-unit;
  padding-bottom: $spacing-unit/2;
  text-align: left;
}

table tbody tr td:last-child, table thead tr th:last-child {
  padding-right: 0;
}
