
/**
 * Site header
 */
.site-header {
  	height:$site-header-height;
	background-color:$background-color;
	@extend %clearfix;			
}


.site-title {
	 line-height: $site-header-height;
	 margin:0;
	 color: $header-color;
	 float:left;
}

.site-nav {
	line-height: $site-header-height;
	float:left;
	z-index:1000;

    .menu {
        display: none;
    }

    .page-link {
        color: $header-color;
		background-color:$header-background-color;				
		line-height: $site-header-height;
		display:inline-block;
		margin:0;
		margin-left:$spacing-unit;
    }

    @include media-query($on-palm) {
        position: absolute;
        top:0;
        right:$spacing-unit/2;
        background-color: $header-background-color;
        text-align: right;	
					

        .menu {
            display: block;
            float: right;
			margin-right:0;
            text-align: center;
        }				

        .trigger {
            clear: both;
            display: none;
			border:1px solid $text-color;
			margin-right:-5px;					
        }

        &:hover .trigger {
            display: block;
        }

        .page-link {			
          	display: block;
			padding-left:10px;
			padding-right:10px;
			padding-top:5px;
			padding-bottom:5px;
			margin:0;
        }
    }
}


.portrait {
	width:150px;
	height:150px;
	background-size: 150px 150px;
	border:1px solid $grey-color-light;
	float:left;
	margin:0;
	margin-right:$spacing-unit;
	margin-bottom:$spacing-unit / 2;
	box-sizing:content-box;
	background-image:url(/r/u150.jpg);
}


.big {
	font-size:$big-font-size;
}


/* INITIAL CAPS
.post-content > p:first-child:first-letter {
	font-size: $base-line-height * 1.5;
	margin: 0 0.1em 0 0;
	padding:0px 4px;
	border:2px solid $text-color;
	}
*/


/**
 * Posts
 */
.page-content {
	
	padding-top:2 * $spacing-unit;			
	
	img {
		margin-top:$spacing-unit;
		margin-bottom:$spacing-unit;
		display: block;
		margin-left: auto;
	  margin-right: auto;		
	}

	ul.post-grid {
		margin:0;
		padding:0;
		list-style-type:none;
		
		.more {
			margin-left:$spacing-unit;
			float:right;
		}
		
		.title {
			font-size: $base-font-size * 1.4;
			margin-right:$spacing-unit;
			line-height:1em;
		}
				
	}

	
	li.post-grid {
		
		margin:0px;
		clear:both;
		float:left;
		margin-top:$spacing-unit;		
		height:100%;
				
		&::before{
			content:none;
			padding:0;
			margin:0;
		}
	}	
}


/* Image */

.image-content img {
		margin-left:0;
}


/*Galleries */
.gallery-content {
	padding-top:2*$spacing-unit;
}


.slide-gallery-content {
	padding-top:$spacing-unit;
	position:relative;
	
	.nav {
			
		a.gallery {
			cursor:pointer;
			float:right;
		}
	@extend %clearfix;			
	}


	.slides {  
		margin-top:$spacing-unit;
		position:relative;
		
		.slide {
			position:absolute;	
			width:100%;			
		}
	}
}


ul.image-grid {
	list-style:none;
	margin-left:auto;
	margin-right:auto;
	max-width:$image-content-width;
	line-height:1.3em;
}



li.image-grid {
	margin:0;
	border:0;
	background-color:transparent;
	overflow:hidden;	
	float:left;
	position:relative;
	cursor:pointer;
	box-sizing:border-box;
	width:25%;
	padding:1.5*$spacing-unit;
	
}

li.image-grid .image {
	padding:0px;
	position:relative;
	background-color:$background-color;
	img {
		width:100%;
		position:relative;
	}
}


li.image-grid .title {
	padding:1px;
	color:$text-color;
	font-size:$extra-small-font-size;
	font-family:"Source Sans Pro";
	font-weight:400;
}


a.prev, a.next {
	cursor:pointer;
	float:left;
}

a.prev {
	margin-right:$spacing-unit;
}



.post-nav {
	margin-top:$spacing-unit;
		
	.next {
		float:right;
	}
	
}

.meta, .page-content .meta {
	margin-bottom:$spacing-unit;			
}

h1, .title{
	font-size:$base-font-size * 1.8;
	margin-top:0;
	line-height:1.4em;
 	font-weight:400;
	font-family:"Source Sans Pro";
}

.subtitle {
	line-height:1.4em;
  margin-bottom: $spacing-unit / 2;		
	text-transform:uppercase;
	letter-spacing:2px;
}


h2 {
	font-size: $base-font-size * 1.4;
	line-height: 1.4em;
}


h3, h4 {
  font-size: $base-font-size * 1.4;
	line-height:1.4em;
}


.w200 img, img.w200 {
		max-width:200px;
}

.w300 img, img.w300 {
		max-width:300px;
}

.w400 img, img.w400 {
		max-width:400px;
}

.w500 img, img.w500 {
		max-width:500px;
}

figcaption, .figcaption {
	margin-top:-$spacing-unit;
	display:block;
	margin-bottom:$spacing-unit;
}

.figcaption {
	clear:both;
}


.left, .right {
	@extend %clearfix;		
	text-align:left;
	margin-top:$spacing-unit;
	margin-bottom:$spacing-unit;		
		
		img {
			margin:0;
			float:left;
			max-width:60%;
			max-height:500px;
			padding-right:$spacing-unit / 2;			
		}
	
	figcaption, .figcaption {
		float:left;
		margin:0;
		max-width:45%;
	}
}

.right {
	text-align:right;
	
	img {
		float:right;
		padding-right:0;
		padding-left:$spacing-unit / 2;
	}
	
	figcaption, .figcaption {
		float:right;
		margin:0;
		max-width:45%;
	}
}

.double img, .wide img {
	
	max-height:none;
	max-width:none;
	width:100%;
}

/**
 * Site footer
 */
.site-footer {
		padding:0;
		clear:both;
		padding-top: $spacing-unit;
		padding-bottom: 2 * $spacing-unit;
		ul, li {
			list-style:none;
			list-style-type:none;
		}

    @extend %clearfix;		
}

/* Media */



@include media-query($on-laptop) {
		
	li.image-grid {
			padding:$spacing-unit;
			width:33%;
		}
	}


@include media-query($on-palm) {
	
	body {
		font-size:$small-font-size;
	}
	
	img.LHOP, .LHOP img {
		/*limit height on palm*/
		max-height:400px;
	}
	
	
.image-content img, .slide img {
		margin-left:-$spacing-unit / 2;
		margin-right:-$spacing-unit / 2;
		max-width:calc(100% + #{$spacing-unit});
 }
 
.left, .right {
		margin-left:-$spacing-unit / 2;
		margin-right:-$spacing-unit / 2;
		padding-left:$spacing-unit / 2;
		padding-right:$spacing-unit / 2;
		
 	img {
 		margin:0;
		margin-left:-$spacing-unit / 2;
 		width:none;
 		min-width:0;		
 		max-width:60%;
		max-width:calc(60% + #{$spacing-unit / 2});				
 	}
}

.right {
	img {
		margin-left:0;
		margin-right:-$spacing-unit / 2;
	}
}
 
.portrait {
	display:block;
	clear:both;
	float:none;
}
			
	
ul.image-grid {
		margin:$spacing-unit/4;
}
		
li.image-grid {
  	width: 50%;
		padding:$spacing-unit/4;				
	}

}

@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {

	.portrait {
		background-image: url(/r/u300.jpg);
	}

}





	







