/*
* Site header
*/
.site-header {
	z-index: 10;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	padding: $spacing-third 0 $spacing-half 0;
	line-height: $spacing-2;
	background: $background-color;

	a {
		color: $text-color;
	}

	.active {
		background: $text-color;
		color: $background-color;
		padding: 3px;
	}

	.site-title {
		display: block;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.nositenav {
		display: block;
		text-align: center;
	}

	.site-description {
		display: inline-block;
	}
}

.site-nav {
	display: block;
	text-align: center;

	.page-link {
		margin: 0 $spacing-third;
		padding: 3px;
	}
}

.slide-in .site-nav {
	border-bottom: 1px solid $light-border-color;
}

.site {
	text-decoration: none;
	@extend %clearfix;
}

.index {
	.page-content {
		margin-top: $spacing-4;
	}

	.site {
		float: left;
		background: $text-color;
		color: $background-color;
		padding: 2px $spacing-third 0 $spacing-1;
		margin-bottom: $spacing-1;
		text-align: right;
		width: 28%;
		min-width: 15em;
	}

	.site-title {
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.site-description {
		letter-spacing: 1px;
		font-family: $thin-font-family;
		font-weight: $thin-font-weight;
	}

	.site-nav {
		float: left;
		padding: 2px $spacing-1 0;
		background: $background-color;

		.page-link {
			font-family: $base-font-family;
			letter-spacing: 1px;
			text-align: left;
			display: block;
			margin: 0 0 $spacing-1;
			padding: 0;
		}
	}
}

.portrait {
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
	margin: 0 auto $spacing-1;
	box-sizing: content-box;
	background-image: url("/r/u150.jpg");
}

.wrapper {
	text-align: left;
}

.next,
.prev {
	label: {
		font-size: $small-font-size;
		display:inline-block;
	}
	cursor: pointer;
}

.next .label {
	text-align: right;
}

.title-wrapper {
	@extend %vertical-rhythm;
	margin-bottom: $spacing-3;
}
/**
* Site footer
*/
.site-footer {
	padding: 0;
	line-height: $spacing-2; //more space for tapping
	clear: both;
	margin-top: $spacing-3;
	margin-bottom: $spacing-2;
	@extend %clearfix;

	.active {
		background: $text-color;
		padding: 3px;
		color: $background-color;
	}
}

#up {
	display: none;
}
/**
* Page
*/
.page-content {
	margin-top: $spacing-5;

	img {
		margin: $spacing-2 auto;
		display: block;
	}

	img[src="undefined"] {
		display: none;
	}

	p:last-child {
		margin-bottom: 0;

		img:last-child {
			margin-bottom: 0;
		}
	}
}
/*Galleries */
#displaySlides {
	@extend %nolinkstyle;
}

.slide-gallery-content {
	margin-top: $spacing-2;
	position: relative;

	.title {}

	.nav {
		.direction {
			float: right;

			.prev {
				margin-right: $spacing-1;
			}
		}

		.gallery {
			cursor: pointer;
		}
		@extend %clearfix;
	}

	.slides {
		position: relative;
		width: 100%;
		min-height: $spacing-3;

		#loading {
			width: 100%;
			position: absolute;
			display: none;
			@extend %vertical-rhythm;
		}

		.slide {
			position: absolute;
			max-width: 100%;

			h2 {
				text-align: left;
				font-weight: normal;
				font-family: $base-font-family;
				margin-top: 0;
			}

			img {
				@extend %vertical-rhythm;
			}
		}
	}
}

ul.image-grid {
	list-style: none;
	margin: 0 auto;
	max-width: $image-grid-width;
	padding-left: $spacing-third;
	padding-right: $spacing-third;
}

ul.image-grid a {
	padding: 0;
	margin: 0;
	border: 0;
	@extend %nolinkstyle;
}

li.image-grid {
	margin: 0;
	border: 0;
	display: inline-block;
	width: 25%;
	padding: $spacing-1;
	vertical-align: top;
	transition: all 0.2s ease-out;
}

li.image-grid .image:after {
	/* make the .image container a responsive square */
	content: "";
	display: block;
	padding-bottom: 100%;
}

li.image-grid .image {
	background-color: $background-color;
	cursor: pointer;
	overflow: hidden;
	position: relative;

	img {
		/* absolute position to the bottom in surrounding .image container */
		position: absolute;
		bottom: 0;
		/*let the img fill out the maximum area of the surrounding .image container */
		max-height: 100%;
		width: auto;
		margin: 0;
	}
}

li.image-grid h2 {
	position: relative;
	color: $text-color;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	font-size: $small-font-size;
	line-height: $small-line-height;
	text-align: left;
	margin: 1em 0 0;
}

.post-nav {
	margin: $spacing-3 0;
	line-height: $spacing-1;

	.prev {
		float: left;
	}

	.next {
		float: right;
	}
}

.meta,
.page-content .meta {
	font-family: $subtitle-font-family;
}

.blog-content h3 a {
	margin-right: $spacing-1;
	display: inline-block;
}

.blog-content .meta {
	font-weight: $base-font-weight;
	font-size: $small-font-size;
	display: inline-block;
}

.title {
	margin: 0;
	font-family: $title-font-family;
	font-weight: $title-font-weight;
	font-size: $base-font-size;
}

.subtitle {
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	text-transform: uppercase;
	font-size: $base-font-size;
}


.toc {
    margin: $spacing-1 0;

    &:after {
        position: relative;
        height: $spacing-quart;
        width: $spacing-3;
        background: $text-color;
        content: "";
        display: block;
    }

    ul {
        list-style-type: none;
    }

    li {
        display: inline;

        a {
            text-decoration: none;
        }
    }

    li:after {
        content: " - ";
    }

    li:last-child:after {
        content: "";
    }
}


.w200 img,
img.w200 {
	max-width: 200px;
}

.w300 img,
img.w300 {
	max-width: 300px;
}

.w400 img,
img.w400 {
	max-width: 400px;
}

.w500 img,
img.w500 {
	max-width: 500px;
}

.breakout img {
	width: 100%;
	max-width: none;
	max-height: none;
}

.figcaption,
figcaption {
	font-style: italic;
	font-size: $small-font-size;
	line-height: $spacing-1;
	margin-top: -$spacing-2;
	margin-bottom: $spacing-2;
	clear: both;
}

.figcaption:before,
figcaption:before {
	content: "";
	width: $spacing-1;
	height: 0;
	display: block;
}

.left,
.right {
	@extend %clearfix;
	text-align: left;
	margin-top: $spacing-3;
	margin-bottom: $spacing-3;

	img {
		margin: 0;
		float: left;
		max-width: 62%;
	}

	.figcaption,
	figcaption {
		margin: 0;
		max-width: 38%;
		display: inline-block;
	}
}

.right {
	img {
		float: right;
	}
}

.left .figcaption,
.left figcaption {
	padding-left: $spacing-1;
}

.right .figcaption,
.right figcaption {
	padding-right: $spacing-1;
}

.full img,
p.full img {
	max-width: none;
	width: 100%;
}

.full .figcaption,
.full figcaption {
	margin-top: -$spacing-2;
}
/* Twitter timeline */
.page-content {
	.twitter-timeline {
		img {
			margin: $spacing-1 auto;
		}

		ul {
			list-style: none;

			li {
				@extend %clearfix;
				@extend %vertical-rhythm;

				.user {
					display: block;
					margin-top: $spacing-2;
					margin-bottom: 0;

					a {
						@extend %nolinkstyle;

						[data-scribe="element:name"] {
							font-weight: $title-font-weight;
							margin-right: $spacing-half;
							display: inline-block;
							@extend %linkstyle;
						}

						[data-scribe="element:screen_name"] {
							font-weight: $base-font-weight;
							font-size: $small-font-size;
							display: inline-block;
						}
					}

					img {
						display: none;
					}
				}

				span[data-scribe="element:verified_badge"] {
					display: none;
				}

				p:after {
					margin: 0;
				}

				p.timePosted a {
					font-weight: $base-font-weight;
					font-size: $small-font-size;
				}

				p.interact {
					display: none;
				}

				.tco-ellipsis {
					display: none;
				}
			}
		}
	}
}
/* Media */
@include media-query($on-narrow) {
	li.image-grid {
		width: 33%;
	}

	li {
		list-style-position: inside;
	}

	blockquote {
		margin-left:0;
	}

	.figcaption:before,
	figcaption:before {
		width: $spacing-1;
		margin-left: 0;
	}

	ul.image-grid {
		padding-left: 0;
		padding-right: 0;
	}
}
@include media-query($on-palm) {
	body {
		font-size: $palm-base-font-size;
		line-height: $palm-base-line-height;
	}

	img {
		max-height: $content-width;
	}

	.LHOP img,
	img.LHOP {
		/*Limit Height On Palm*/
		max-height: 400px;
	}

	.index {
		.site {
			text-align: left;
		}

		.page-content {
			margin-top: $spacing-3;
		}
	}

	ul.image-grid {
		padding-left: 0;
		padding-right: 0;
	}

	li.image-grid {
		width: 50%;
		padding: $spacing-1 $spacing-half;
	}
}
@media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
	.portrait {
		background-image: url("/r/u300.jpg");
	}
}
