:root {
  --fs-h1: 1.25rem;
  --lh-h1: 1.25em;
  --mrt-h1: 0em;
  --mrb-h1: var(--space-d3);

  --fs-h2: 1rem;
  --lh-h2: 1.62em;

  --fs-h3: 1rem;
  --lh-h3: 1.62em;

  --list-item-type: "";
}

ul li::before {
  min-width: var(--space-d1);
  height: var(--space-d3);
  border-radius: var(--space-d3);
  vertical-align: baseline;
  margin-bottom: var(--space-d4);
  margin-right: calc(var(--horizontal-rhythm) - var(--space-d1));
  background: var(--base-color);
}

.eof {
  width: var(--space);
  height: var(--space-d3);
  background: var(--base-color);
  border-radius: var(--space-d3);
}


header.is-dynamic {
  background: #eee;
  border-bottom: 1px solid #ccc;
}
