@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:wght@200;400;700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-family: "IBM Plex Serif", serif;
  --heading-font-family: "IBM Plex Sans", sans-serif;
  --form-font-family: "IBM Plex Sans", sans-serif;
  --meta-font-family: "IBM Plex Sans", sans-serif;
  --mono-font-family: "IBM Plex Mono", monospace;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --heading-letter-spacing: 0;
  --fs-mono: 0.8rem;
  --form-button-background: black;

  --fs-h1: var(--fs-4);
  --lh-h1: 1.25em;
  --mrt-h1: 0em;
  --mrb-h1: 0;

  --mrt-h2: var(--space-1);
  --mrt-h3: var(--space-1);

  --mrt-figure: var(--space-2);
  --mrb-figure: var(--space-2);
  --mrt-blockquote: var(--space-2);
  --mrb-blockquote: var(--space-2);

  --fs-h2: 1rem;
  --lh-h2: 1.62em;

  --fs-h3: 1rem;
  --lh-h3: 1.62em;

  --heading-text-transform: unset;
  --heading-font-weight: 700;
  --pre-background: var(--neutral-5);
}


img {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

header.is-dynamic {
  background: var(--neutral-5);
  border-bottom: 1px solid var(--neutral-4);
  padding-left: var(--space);
  padding-right: var(--space);
}

nav ul li {
  margin-right: var(--space-d1);

  &:last-child {
    margin-right: 0;
  }
}






