:root {
  --fs-h1: 1.25rem;
  --lh-h1: 1.25em;
  --mrt-h1: 0em;
  --mrb-h1: var(--space-d3);

  --fs-h2: 1rem;
  --lh-h2: 1.62em;

  --fs-h3: 1rem;
  --lh-h3: 1.62em;
}

header.is-dynamic {
  background: #eee;
  border-bottom: 1px solid #ccc;
}

