---
layout: default
---

{% if page.banner == nil and page.bannerFull == nil and page.title %}
<h1 class="title">{{page.title}}</h1>
{% elsif page.title and page.message %}
<h1 class="title">{{page.title}}</h1>
{% endif %}


{{ content }}
		
<ul class="post-grid">
{% for post in site.posts %}
	{% if post.layout contains 'post' %}

	<li class="post-grid">
		<div class="thumb"></div>
		<a  href="{{ post.url | prepend: site.baseurl }}">
			<span class="title">{{ post.title }}</span><p>{% if post.date %}  <span class="meta">{{ post.date | date: '%B %Y' }} </span>{% endif %}

			{% if post.excerpt %}
			{{ post.excerpt }}
			{% else %}
		 	{{ post.content | truncatewords:50 | strip_html }}
			{% endif %}
		</p>
		</a>
	</li>
  {% endif %}

{% endfor %}
</ul>




