<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="gallery">

{% include header.html %}


<div id="pageContent" class="page-content">
    <div class="wrapper">
        {% include title.html %}
        {{ content }}
    </div>

    <ul class="image-grid" id="image-grid">
        {% for post in site.posts %}

        {% unless post.nonav %}
        {% if post.layout contains 'gallery' and post.thumburl %}

        <a href="{{ post.url | prepend: site.baseurl }}">
            <li class="image-grid">
                <div class="image">
                    <img src="{{post.thumburl}}"/>
                    {% if post.message %}
                    <h2>{{post.message}}</h2>
                    {% elsif post.abstract %}
                    <h2>{{post.abstract}}</h2>
                    {% elsif post.title %}
                    <h2>{{post.title}}</h2>
                    {% endif %}
                </div>
            </li>
        </a>
        {% elsif post.layout contains 'image' and post.thumburl and post.tags contains 'projects' %}
        <a href="{{ post.url | prepend: site.baseurl }}">
            <li class="image-grid">
                <div class="image">
                    <img src="{{post.thumburl}}"/>
                    {% if post.message %}
                    <h2>{{post.message}}</h2>
                    {% elsif post.abstract %}
                    <h2>{{post.abstract}}</h2>
                    {% elsif post.title %}
                    <h2>{{post.title}}</h2>
                    {% endif %}
                </div>
            </li>
        </a>
        {% endif %}
        {% endunless %}
        {% endfor %}
    </ul>

</div>


{% unless page.nofooter %}
{% include footer.html %}
{% endunless %}

{% include footer_scripts.html %}
<script src="/r/imagesloaded.min.js"></script>
<script src="/r/masonry.min.js"></script>
<script>
    container = select('#image-grid');
    masonry = new Masonry(container, {itemSelector: 'li', gutter: 0, percentPosition: true});
    imgLoad = imagesLoaded(container);
    imgLoad.on('progress', function() {
        masonry.layout();
    });


</script>


</body>

</html>
