<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body>
	<div class="min-vh-100 bg-base-background">

		{% include header.html %}

		<div class="xl indent word-wrap default">

			{% if page.notitle != true and page.title != "notitle" %}
			<div class="breakout mrb-1">
				{% include title.html %}
			</div>
			{% endif %}

			{{ content }}

			{% include step-navigation.html %}
			{% include footer.html %}
		</div>
	</div>
	</div>
	{% include scripts.html %}
</body>

</html>