<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body class="pdx">
	{% include header.html %}

	<main class="x indent word-wrap default">
		<div class="md:breakout-l mrb-1">
			{% include title.html  %}
		</div>

		{{ content }}

		{% if page.nostepnav != true and page.categories != empty %}
		<div class="mrt-1">
			{% include step-navigation.html %}
		</div>
		{% endif %}
	</main>

	<div class="x md:breakout-r">
		{% include footer.html %}
	</div>

	{% include scripts.html %}
	{% include measure-load-time.html %}
</body>

</html>