<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="gallery">

    {% include header.html %}
				
    <div id="pageContent" class="gallery-content">
				<div class="wrapper">
					{% include title.html %}
					{{ content }}
				</div>
		
				<ul class="image-grid" id="gallery-grid">
				{% for tag in page.tags%}
					
					{% for post in site.tags.[tag] %}
						
						{% if post.layout contains 'image' and post.thumburl %}

							<a  href="{{ post.url | prepend: site.baseurl }}">
								<li class="image-grid">
									<div class="image">
										<img src="{{post.thumburl}}"/>
										{% if post.message %}
											<div class="title">{{post.message}}</div>
										{% elsif post.abstract %}										
											<div class="title">{{post.abstract}}</div>
										{% elsif post.title %}
											<div class="title">{{post.title}}</div>
										{% endif %}
									</div>
								</li>
							</a>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>									
		</div>

			{% include footer.html %}
			<script src="/r/packery.pkgd.min.js"></script>
			<script>
			var $container = $('#gallery-grid');
			// init
			$container.packery({
			  itemSelector: 'li',
			  gutter: 0
			});
			$(window).on("load", function(event) { $container.packery(); });
			</script>								
  </body>

</html>
