<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	<style>
		.image img {
			width: 100%;
			object-fit: cover;
		}

		.image .step-navigation *,
		.image .title * {
			line-height: var(--lh-2);
			font-size: var(--fs-d1);
			font-weight: normal;
		}

		.image .title .sub-title {
			color: var(--meta-color);
		}

		@media (min-width: 650px) {
			.image img {
				width: unset;
				max-height: 70vh;
			}
	</style>
</head>

<body>


	<main class="xl word-wrap image mrt-3">

		<div class="breakout">
			{{ content }}
		</div>

		<div class="breakout flex justify-space-between mrt-2">
			<div class="small lh-2 mrr mxw-5">
				{% include title.html %}

				{% if page.notitle == true or page.title == "notitle" %}
				{% if page.categories != nil or page.tags != nil %}
				<div class="meta lh-2 inline-block bg-base-background">
					{% include categories-and-tags.html %}
				</div>
				{% endif %}
				{% endif %}
			</div>
			{% if page.nostepnav != true %}
			<div class="mrb-1 lh-2 small">
				{% include step-navigation.html shortNav=true %}
			</div>
			{% endif %}
		</div>


	</main>
	{% include footer.html mainnav=true %}

</body>

</html>