<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	<style>
		.image img {
			width: 100%;
			object-fit: cover;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.image .step-navigation *,
		.image .title * {
			line-height: var(--lh-2);
			font-size: var(--fs-d1);
			font-weight: normal;
		}

		.image .title .sub-title {
			color: var(--meta-color);
		}

		@media (min-width: 650px) {
			.image img {
				width: unset;
				max-height: 70vh;
			}
	</style>
</head>

<body>
	<div class="min-vh-100 bg-base-background">

		<div class="xl word-wrap image pdt-1">

			<div class="breakout">
				{{ content }}
			</div>

			<div class="flex justify-space-between mrt-1">
				<div class="small lh-2 mrr mxw-5">
					{% include title.html %}

					{% if page.notitle == true or page.title == "notitle" %}
					{% if page.categories != nil or page.tags != nil %}
					<div class="mrln-d3 pdx-d3 pdy-d4 meta lh-2 inline-block bg-base-background">
						{% include categories-and-tags.html %}
					</div>
					{% endif %}
					{% endif %}
				</div>
				{% if page.nostepnav != true %}
				<div class="mrb-1 pdy-d4 lh-2 small">
					{% include step-navigation.html shortNav=true %}
				</div>
				{% endif %}
			</div>

			{% include footer.html mainnav=true %}
		</div>
	</div>

</body>

</html>