<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	<style>
		.image img {
			width: 100%;
			object-fit: cover;
		}

		.image .step-navigation *,
		.image .title * {
			line-height: var(--lh-2);
			font-size: var(--fs-d1);
			font-weight: normal;
		}

		.image .title .sub-title {
			color: var(--meta-color);
		}

		@media (min-width: 650px) {
			.image img {
				width: unset;
				max-height: 70vh;

				margin-left: auto;
				margin-right: auto;
				display: block;
			}
	</style>
</head>

<body class="bg-primary-4">
	<div class="min-vh-100 bg-base-background">

		<div class="xl word-wrap image">
			<div class="breakout pdt-1">

				{{ content }}

				<div class="flex justify-space-between">
					<div class="small lh-2 mrr mxw-5">
						{% include title.html %}

						{% if page.notitle == true or page.title == "notitle" %}
						{% if page.tags %}
						<div class="mrln-d3 pdx-d3 pdy-d4 meta lh-2 inline-block bg-base-background">
							{% include meta.html %}
						</div>
						{% endif %}
						{% endif %}
					</div>
					{% if page.nostepnav != true %}
					<div class="mrb-1 pdy-d4 lh-2 small">
						{% include step-navigation.html shortNav=true %}
					</div>
					{% endif %}
				</div>

				<nav class="navigation small lh-2 mrt-1">
					{% include navigation.html %}
				</nav>
				{% include footer.html %}
			</div>
		</div>
	</div>
	{% include scripts.html %}
</body>

</html>