<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
</head>
<body>
	<div class="index">
		<div id="pageContent" class="page-content">
			<div class="site">
				<div class="site-title">{{site.title}}</div>
				<div class="site-description">{{site.description}}</div>
			</div>
			<div class="site-nav">
				{% for p in site.pages %}
				{% if p.index %}
				<a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{p.index }}</a>
				{% endif %}
				{% endfor %}
			</div>			
		</div>

		{% include footer_scripts.html %}
	</div>
</body>
</html>
