---
layout: default
---
{{ content }}
<!-- posts -->
{% for p in site.posts %}
{% unless p.nonav %}
{% if p.categories contains page.category and p.title %}
<div class="mrt-2">
	<span>
		<h2 class="inline">{% if p.forward %}<a class="no-deco" href="{{p.forward}}">{% else %}<a class="no-deco"
					href="{{ p.url | prepend: site.baseurl }}">{% endif %}{{ p.title }}</a></h2>{% if p.date %} <span
			class="small no-wrap">{{ p.date | date: '%B %d, %Y' }}</span>{% endif %}
	</span>
	{% if p.abstract %}
	<p>{{ p.abstract }}</p>
	{% else %}
	<p>{{ p.content | truncatewords:50 | strip_html }}</p>
</div>
{% endif %}
{% endif %}
{% endunless %}
{% endfor %}

<!-- pages -->
{% for p in site.pages %}
{% unless p.nonav %}
{% if p.categories contains page.category and p.title %}
<div class="mrt-2">
	<span>
		<h2 class="inline">{% if p.forward %}<a class="no-deco" href="{{p.forward}}">{% else %}<a class="no-deco"
					href="{{ p.url | prepend: site.baseurl }}">{% endif %}{{ p.title }}</a></h2>{% if p.date %} <span
			class="small no-wrap">{{ p.date | date: '%B %d, %Y' }}</span>{% endif %}
	</span>
	{% if p.abstract %}
	<p>{{ p.abstract }}</p>
	{% else %}
	<p>{{ p.content | truncatewords:50 | strip_html }}</p>
</div>
{% endif %}
{% endif %}
{% endunless %}
{% endfor %}