---
layout: default
---
{{ content }}

<!-- posts -->
{% for p in site.posts %}
{% unless p.nonav %}
{% if p.category contains page.category and p.title %}

{% if p.layout == "blank" %}
{% assign target = "" %}
{% endif %}

{% if p.forward %}
{% assign href = p.forward %}
{% else %}
{% assign href = p.url | prepend: site.baseurl  %}
{% endif %}

{% if content.size > 1 %}
<h2 class="mrt-1 mrb-0"><a target="{{target}}" href="{{href}}">{{ p.title }}</a></h2>
{% else %}
<h2 class="mrt-1 mry-0"><a target="{{target}}" href="{{href}}">{{ p.title }}</a></h2>
{% endif %}

{% if p.abstract %}
<p>
    {{ p.abstract }}
    {% unless page.hidedate %}
    {% if p.date %}
    <span class="mrl-1 no-wrap small neutral-1">{{ p.date | date: '%B %d, %Y' }}</span>
    {% endif %}
    {% endunless %}
</p>
{% else %}
<p>
    {{ p.content | truncatewords:50 | strip_html }}
    {% capture words %}
    {{ page.content | number_of_words | minus: 50 }}
    {% endcapture %}

    {% unless words contains "-" %}…{% endunless %}
    {% unless page.hidedate %}
    {% if p.date %}
    <span class="mrl-1 no-wrap small neutral-1">{{ p.date | date: '%B %d, %Y' }}</span>
    {% endif %}
    {% endunless %}
</p>
{% endif %}

{% endif %}
{% endunless %}
{% endfor %}

<!-- pages -->
{% for p in site.pages %}
{% unless p.nonav %}
{% if p.category contains page.category and p.title %}

{% if p.layout == "blank" %}
{% assign target = "" %}
{% endif %}

{% if p.forward %}
{% assign href = p.forward %}
{% else %}
{% assign href = p.url | prepend: site.baseurl  %}
{% endif %}

{% if content.size > 1 %}
<h2 class="mrt-1 mrb-0"><a target="{{target}}" href="{{href}}">{{ p.title }}</a></h2>
{% else %}
<h2 class="mrt-1 mry-0"><a target="{{target}}" href="{{href}}">{{ p.title }}</a></h2>
{% endif %}

{% if p.abstract %}
<p>
    {{ p.abstract }}
    {% unless page.hidedate %}
    {% if p.date %}
    <span class="mrl-1 no-wrap small neutral-1">{{ p.date | date: '%B %d, %Y' }}</span>
    {% endif %}
    {% endunless %}
</p>
{% else %}
<p>
    {{ p.content | truncatewords:50 | strip_html }}
    {% capture words %}
    {{ page.content | number_of_words | minus: 50 }}
    {% endcapture %}

    {% unless words contains "-" %}…{% endunless %}
    {% unless page.hidedate %}
    {% if p.date %}
    <span class="mrl-1 no-wrap small neutral-1">{{ p.date | date: '%B %d, %Y' }}</span>
    {% endif %}
    {% endunless %}
</p>

{% endif %}
{% endif %}
{% endunless %}
{% endfor %}