---
layout: default
---
{{ content }}
<div class="article-list mry-1">

    <!-- posts -->
    {% assign count = 0 %}
    {% assign siteYear = site.time | date: '%Y' %}
    {% assign indexYear = siteYear %}

    {% assign pageMeta = "" | split: ""%}
    {% assign pageMeta = pageMeta | push: page.tags %}
    {% assign pageMeta = pageMeta | push: page.categories %}
    {% assign pageMeta = pageMeta | uniq %}

    {% for meta in pageMeta %}

    {% for p in site.posts %}
    {% assign pageYear = p.date | date: '%Y' %}

    {% if p.tags contains meta or p.categories contains meta %}
    {% assign count = count | plus: 1 %}

    {% if p.layout == "blank" %}
    {% assign target = "" %}
    {% endif %}

    {% if p.forward %}
    {% assign href = p.forward %}
    {% else %}
    {% assign href = p.url | prepend: site.baseurl  %}
    {% endif %}

    {% if indexYear != pageYear %}
    <div class="mrt-2 mrb-1 fs-3 meta fw-200">
        {{pageYear}}
        {% assign indexYear = pageYear %}
    </div>
    {% endif %}

    <article class="mry-1">
        <h2 class="mry-0"><a target="{{target}}" href="{{href}}" class="no-deco black">{{ p.title }}</a></h2>
        {% if p.author or p.date and p.nodate != true and page.nodate != true %}
        <aside class="small meta">
            {% include author-and-date.html author=p.author date=p.date nodate=p.nodate%}
        </aside>
        {% endif %}

        <p>
            {% if p.abstract %}
            {{ p.abstract }}
            {% else %}
            {{ p.excerpt | strip_html | truncatewords:25, "&nbsp;…"  }}
            {% endif %}
        </p>
        <a class="small meta inline-block" href="{{p.url}}">Continue reading →</a>

    </article>

    {% endif %}
    {% endfor %}
    {% endfor %}

</div>